//Color Palettes
$c-p-red: hsl(12, 88%, 59%);
$c-p-blue: hsl(228, 39%, 23%);
$c-p-cream: hsl(13, 100%, 96%);

$c-g-100: hsl(0, 0%, 98%);
$c-g-200: hsl(227, 12%, 61%);
$c-g-300: hsl(233, 12%, 13%);

//Font Sizes
$fs-40: 4rem;
$fs-32: 3.2rem;
$fs-28: 2.8rem;
$fs-16: 1.6rem;
$fs-14: 1.4rem;

//Effects
$bs-darkred: 0px 16px 32px rgba(255, 97, 18, 0.22);
$bs-darkgray: 0px 16px 32px rgba(38, 42, 49, 0.22);
